* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #cb356b, #bd3f32);
}

.App {
  
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App__container {
  margin-top: 50px;
  width: 100%;
}

.App__title {
  text-align: center;
}

.todos {
  width: 90%;
  margin: 0 auto;
}

.form {
  width: 100%;
}

.todo__item {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background: rgba(100,100,100, 0.5);
  font-weight: 600;
  font-family: "Montserrat", serif;
  font-size: 20px;
}

.todo_item_checked {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background: rgba(100,100,100, 0.5);
  font-weight: 600;
  font-family: "Montserrat", serif;
  font-size: 20px;
  text-decoration: line-through;
}

.todo__item-btn {
  padding: 0 10px;
  border:none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: 0.3s all;
}

.item_trash:hover {
  transition: 0.3s all;
  transform: scale(1.5);
}

.App__input {
  display: block;  
  padding: 10px 15px;
  width: 90%;
  margin: 25px auto;
  background: transparent;
  outline: none;
  border: 1px solid black;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.App__btn {

  width: 100px;
  padding: 10px 15px;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  

}


.App__input:focus-visible {
  border-bottom: 1px solid black !important;
}

input[type="checkbox"] {
  
  width: 20px;
  height: 20px;
}


/* black theme */
